body {
    width: 375px;
    margin: 0px;
    -webkit-user-select: none;
}
.background {
    height: 276px;
    position: relative;
}
.header {
    font-family: Aaargh;
    font-size: 15px;
    color: #DFDFDF;
    position: absolute;
    top: 2px;
    left: 10px;
    width: 100%;
}
.header a:link {
    color: #DFDFDF;
}
.header a:visited {
    color: #DFDFDF;
}
#options {
    cursor: pointer;
    position: absolute;
    top: 41px;
    left: 300px;
    width: 43px;
}
.center {
    text-align: center;
}
.secondaryHeader {
    font-size: 25px;
    font-weight: bold;
    font-family: Aaargh;
}
.content {
    font-family: Aaargh;
    color: #222222;
    line-height: 1.48;
    position: absolute;
    top: 120px;
    left: 24px;
    width: 100%;
}
.content span,
.content a {
    font-size: 24px;
}
.content a:visited {
    text-decoration: none;
}
#alerts,
#messages,
#posts,
#rating {
    font-weight: 100;
}
#alerts {
    color: #B5B5B5;
}
#messages {
    color: #B5B5B5;
}
#posts {
    color: #B5B5B5;
}
#rating {
    color: #90FF85;
}
